<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="First Name"
          label-for="firstName"
          :invalid-feedback="invalidFeedbackFirstName"
          :valid-feedback="validFeedbackFirstName"
          :state="stateFirstName"
        >
          <b-form-input
            id="firstName"
            v-model="form.firstName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Last Name"
          label-for="lastName"
          :invalid-feedback="invalidFeedbackLastName"
          :valid-feedback="validFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input id="lastName" v-model="form.lastName" required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          class="mb-3"
          label="Birthday :"
          label-for="birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-input
            id="birthday"
            v-model="form.birthday"
            placeholder="YYYY-MM-DD"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!-- </form> -->
        <b-form-group
          label="Nationality : "
          label-for="nationality"
          :invalid-feedback="invalidFeedbackNationality"
          :valid-feedback="validFeedbackNationality"
          :state="stateNationality"
        >
          <b-form-input
            id="nationality"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel : "
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import applicant2Service from './Applicant2Service'

export default {
  data () {
    return {
      title: 'Add new user',
      form: {
        id: -1,
        firstName: ' ',
        lastName: ' ',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      userList: [
        {
          id: 1,
          firstName: 'Rujirada',
          lastName: 'Norasarn',
          gender: 'F',
          birthday: '1999-01-27',
          nationality: 'Thai',
          tel: '061-666-6666',
          address: 'Thai'
        },
        {
          id: 2,
          firstName: 'Kantapon',
          lastName: 'Aonraksa',
          gender: 'F',
          birthday: '2000-07-17',
          nationality: 'Thai',
          tel: '069-555-4566',
          address: 'Thai'
        }
      ],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'No.'
        },
        'firstName',
        'lastName',
        'gender',
        'birthday',
        'nationality',
        'tel',
        'address',
        'operation'
      ]
    }
  },
  methods: {
    getapplicant2 () {
      this.userList = applicant2Service.getapplicant2()
    },

    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'Edit user data'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      // this.deleteUser(user)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' +
            user.firstName +
            ' ' +
            user.lastName +
            ' !',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            applicant2Service.deleteUser(this.form)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        firstName: '',
        lastName: '',
        gender: null,
        birthday: '',
        Nationality: '',
        tel: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.birthday === false
      ) {
        return
      }
      // Push the name to submitted names
      if (this.form.id > 0) {
        applicant2Service.updateUser(this.form)
        // this.updateUser(this.form)
      } else {
        applicant2Service.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
    // addUser (user) {
    //   user.id = this.lastId++
    //   this.userList.push(user)
    // },
    // updateUser (user) {
    //   const index = this.userList.findIndex(item => item.id === user.id)
    //   this.userList.splice(index, 1, user)
    // },
    // deleteUser (user) {
    //   const index = this.userList.findIndex(item => item.id === user.id)
    //   this.userList.splice(index, 1)
    // }
  },
  computed: {
    stateFristName () {
      return this.form.firstName.length >= 2
    },
    invalidFeedbackFirstName () {
      if (this.form.firstName.length > 2) {
        return ''
      } else if (this.form.firstName.length > 0) {
        return 'Enter at least 3 characters.'
      } else {
        return 'Please enter your first name'
      }
    },
    validFeedbackFirstName () {
      return this.stateFristName === true ? 'Complete' : ''
    },
    statetLastName () {
      return this.form.lastName.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastName.length > 2) {
        return ''
      } else if (this.form.lastName.length > 0) {
        return 'Enter at least 3 characters.'
      } else {
        return 'Please enter your first name'
      }
    },
    validFeedbackLastName () {
      return this.statetLastName === true ? 'Complete' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please Select one'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Complete' : ''
    },
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'Enter at least 10 characters.'
      } else if (this.form.tel.length === 0) {
        return 'Please enter your telephone.'
      }
      return ''
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'Complete' : ''
    },
    // // วันเกิดstateBirthday () {
    stateBirthday () {
      return (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-'
        // can't validate current date
      )
    },
    invalidFeedbackBirthday () {
      if (this.form.birthday.length === 10) {
        if (this.form.birthday[4] === '-' && this.form.birthday[7] === '-') {
          return ''
        }
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length > 0) {
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length === 0) {
        return 'Please enter your birthday.'
      }
      return ''
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'Complete' : ''
    }
  },
  mounted () {
    console.log('Vue is mounted')
    this.getapplicant2()
  }
}
</script>
