<template>
  <div>
    <b-button
      variant="success"
      class="float-right m-2"
      @click="addNewApplicant()"
      >Add Applicant</b-button
    >

    <b-modal
      id="modal-form-Applicant"
      ref="modal-form-Applicant"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Firstname :"
          label-for="firstname-input"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateFirstName"
        >
          <b-form-input
            id="firstname-input"
            v-model="form.firstname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Lastname :"
          label-for="lastname-input"
          :invalid-feedback="invalidFeedbackLastName"
          :valid-feedback="validFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input
            id="lastname-input"
            v-model="form.lastname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender : "
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="Birthday : " label-for="birthday">
          <b-form-datepicker
            id="birthday"
            :date-format-options="{
              day: 'numeric',
              month: 'numeric',
              year: 'numeric'
            }"
            locale="en"
            v-model="form.birthday"
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group
          label="Nationality :"
          label-for="nationality-input"
          :invalid-feedback="invalidFeedbackNationality"
          :valid-feedback="validFeedbackNationality"
          :state="stateNationality"
        >
          <b-form-input
            id="nationality-input"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel :"
          label-for="tel-input"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input
            id="tel-input"
            v-model="form.tel"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="Address-input"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="Addressname-input"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card> -->
    </b-modal>

    <b-table striped hover :items="applicantList" :fields="fields">
      <template v-slot:cell(operation)="dataApplicant">
        <b-button variant="warning" @click="editApplicant(dataApplicant.item)"
          >Edit</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="deleteApplicant(dataApplicant)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      title: 'Add new applicant',
      form: {
        _id: '',
        id: -1,
        firstname: '',
        lastname: '',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      applicantList: [],
      fields: [
        { key: '_id', label: 'No.' },
        { key: 'firstname', label: 'Firstname' },
        { key: 'lastname', label: 'Lastname' },
        { key: 'gender', label: 'Age' },
        { key: 'birthday', label: 'BirthDate' },
        { key: 'nationality', label: 'Nationality' },
        { key: 'tel', label: 'Tel' },
        { key: 'address', label: 'Address' },
        { key: 'Operation', label: 'Operation' }
      ]
    }
  },
  methods: {
    addNewApplicant () {
      console.log('add new applicant')
      this.$bvModal.show('modal-form-Applicant')
    },
    editApplicant (applicant) {
      console.log('Edit')
      console.log(applicant)
      this.title = 'Edit applicant data'
      this.form = { ...applicant }
      this.$bvModal.show('modal-form-Applicant')
    },
    deleteApplicant (applicant) {
      console.log('delete')
      console.log(applicant)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to Delete : ' +
            applicant.item.firstname +
            ' ' +
            applicant.item.lastname +
            ' !',
          {
            title: 'Please confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios.delete('http://localhost:3000/applicant/:id' + applicant._id).then(res => {
              console.log(res)
              this.getApplicantNons()
            }).catch(err => {
              console.log(err)
            })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        firstname: '',
        lastname: '',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (
        this.stateFirstName === false ||
        this.stateLastName === false ||
        this.stateGender === false ||
        this.stateBirthday === false ||
        this.stateNationality === false ||
        this.stateTel === false ||
        this.stateAddress === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios.put('http://localhost:3000/applicant/', this.form).then(res => {
          console.log(res)
          this.getApplicantNons()
        }).catch(err => {
          console.log(err)
        })
      } else {
        delete this.form._id
        axios.post('http://localhost:3000/applicant', this.form).then(res => {
          console.log(res)
          this.getApplicantNons()
        }).catch(err => {
          console.log(err)
        })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-Applicant')
      })
    },
    getApplicantNons () {
      axios.get('http://localhost:3000/applicant').then(res => {
        console.log(res)
        this.applicantList = res.data
      }).catch(err => {
        console.log(err)
      })
    }
  },
  computed: {
    // FristName
    stateFirstName () {
      return this.form.firstname.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.firstname.length > 2) {
        return ''
      } else if (this.form.firstname.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please Enter Name'
      }
    },
    validFeedbackName () {
      return this.stateFirstName === true ? 'สำเร็จ' : ''
    },
    // LastName
    stateLastName () {
      return this.form.lastname.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastname.length > 2) {
        return ''
      } else if (this.form.lastname.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please Enter LastName'
      }
    },
    validFeedbackLastName () {
      return this.stateLastName === true ? 'Complete' : ''
    },
    // Gender
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender == null) {
        return 'Please Select one'
      }
      return ''
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Complete' : ''
    },
    // Tel
    // stateTel () {
    //   return this.form.tel.length === 10
    // },
    // invalidFeedbackTel () {
    //   if (this.form.tel.length > 0) {
    //     return 'Enter at least 10 characters.'
    //   } else if (this.form.tel.length === 0) {
    //     return 'Please enter your telephone.'
    //   }
    //   return ''
    // },
    // validFeedbackTel () {
    //   return this.stateTel === true ? 'Complete' : ''
    // },
    // Nationality
    stateNationality () {
      return this.form.nationality.length !== 0
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 0) {
        return 'Enter Nationality.'
      } else if (this.form.nationality.length === 0) {
        return 'Please enter your Nationality.'
      }
      return ''
    },
    validFeedbackNationality () {
      return this.stateNationality === true ? 'Complete' : ''
    },
    // Address
    stateAddress () {
      return this.form.address.length !== 0
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return 'Enter Address.'
      } else if (this.form.address.length === 0) {
        return 'Please enter your Address.'
      }
      return ''
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'Complete' : ''
    }
  },
  mounted () {
    this.getApplicantNons()
  }
}
</script>
