<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/admin">Admin</router-link></b-nav-item>
      <b-nav-item active><router-link to="/ApplicantNon">ApplicantNon</router-link></b-nav-item>
       <b-nav-item active><router-link to="/Applicant2">ApplicantPae</router-link></b-nav-item>
       <b-nav-item active><router-link to="/companies">Companies</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
